html {
  background-color: rgb(50, 50, 175);
  letter-spacing: 2px;
}

.introducing {
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  color: red;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Anton', sans-serif;
  color: darkblue;
  text-align: center;
}

p {
  font-size: 17px; 
  text-align: left;
  color: black;
  font-family: 'Roboto', sans-serif;
}

div {
  width: 700px; 
  margin: 20px auto; 
  padding: 10px;
  background-color: white;
  border: 3px solid red;
  border-radius: 30px;
}

ul {
  font-size: 17px; 
  text-align: left;
  text-color: black;
}

a {
  color: #0000cc;
  text-decoration: underline;
}

a:hover {
  text-decoration: bold;
}

a:visited {
  color: black;
  text-decoration: none;
}

img {
  height: 224px;
  width: 225px;
}
