.title {
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  color: red;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Anton', sans-serif;
  color: darkblue;
  text-align: center;
}

p {
  font-size: 17px; text-align: left;
}

div {width: 600px; margin: 20px; padding: 5px;
}
