html {
  background-color: rgb(50, 50, 175);
}

.introducing {
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  color: red;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Anton', sans-serif;
  color: darkblue;
  text-align: center;
}

p {
  font-size: 17px; 
  text-align: left;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.info {
  width: 700px; 
  margin: 20px auto; 
  padding: 10px;
  background-color: white;
  border: 3px solid red;
  border-radius: 30px;
  letter-spacing: 2px;
}

ul {
  font-size: 17px; 
  text-align: left;
  text-color: black;
}

a {
  color: #0000cc;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #0000cc;
  text-decoration: none;
}

img {
  height: 224px;
  width: 225px;
}

.bottom {
  font-size: 12px;
  text-align: center;
  border: 3px solid #66ccff;
  background-color: #b3e6ff;
  width: auto;
  padding: 0px;
  margin: 0px 0px;
  border-radius: 0px;
  font-family: 'Oswald', sans-serif;
}

.link {
  text-align: center;
}

.picture {
  text-align: center;
}
  
.backgroundpic {
  background-image: url("images/hockey-sticks.jpg") no-repeat center fixed;
  background-size: cover;
}
